<nav class="navbar navbar-expand-lg navbar-light" dir="rtl">
  <div class="container">
    <a class="navbar-brand ps-3" href="#"> <img src="../../../assets/images/Rectangle 353.png" alt="" width="70"
        height="38" class="d-inline-block align-text-top"></a>
    <a class="navbar-brand" href="#"> <img src="../../../assets/images/Rectangle 352.png" alt="" width="70" height="38"
        class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الوظائف</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الشركات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الخدمات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">التدوينات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">انشر اقتراحا</a>
        </li>
      </ul>
      <button class="btn btn1 ms-3">تسجيل دخول</button>
      <button class="btn btn2">تسجيل دخول</button>
    </div>
  </div>
</nav>
